<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta
        name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Insert "head-links.njk" partial -->
        {% include "head-links.njk" %}
        <!-- End "head-links.njk" partial -->

        <title>No Donut</title>
    </head>
    <body class="bg-nd-yellow text-nd-magenta font-light font-sans mx-auto">
        <div class="p-3 lg:p-16">
            <header>
                <h1 class="flex mb-6 lg:mb-8">
                    <img src="/img/no.gif" alt="no" class="lg:w-1/3">
                    <img src="/img/donut.gif" alt="donut" class="lg:w-2/3">
                </h1>
                <div class="flex justify-between flex-col lg:flex-row lg:flex-row-reverse mb-6">
                    <div class="lg:w-2/3">
                        <p class="text-2xl lg:text-6xl leading-tight mb-6">No Donut is a collection of resources building towards a copless future</p>
                    </div>
                    <div class="lg:w-1/3">
                        <p class="text-xl lg:text-5xl leading-tight text-right lg:w-3/4">
                            <!-- <a href="#submit-a-link" class="underline">Submit a link</a> -->
                        </p>
                    </div>
                </div>
            </header>

            <section>
                <ul>
                    <li class="flex flex-col lg:flex-row mb-12 lg:mb-20">
                        <div class="lg:w-1/3">
                            <aside class="lg:w-3/4">
                                <p class="text-sm lg:text-xl leading-snug lg:text-right font-mono">
                                    <i>Australian Broadcast Service (ABC)</i><br>
                                    Audio (16 min 16 sec)</p>
                            </aside>
                        </div>

                        <div class="lg:w-2/3">
                            <h2 class="text-xl lg:text-5xl leading-tight underline mb-2 lg:mb-4">
                                <a href="https://www.abc.net.au/radio/programs/the-signal/does-australia-have-a-policing-problem-too/12318430">Does Australia have a policing problem too?</a>
                            </h2>
                            <p class="lg:text-3xl leading-snug">An outline of policing in Australia, detailing its history in aiding White occupiers during invasion and how it has maintained its racists roots. In particular they reference a clip of a white Australian police officer slamming an indigenous teenager face-first into the ground</p>
                        </div>
                    </li>
                    <li class="flex flex-col lg:flex-row mb-12 lg:mb-20">
                        <div class="lg:w-1/3">
                            <aside class="lg:w-3/4">
                                <p class="text-sm lg:text-xl leading-snug lg:text-right font-mono">
                                    <i>The Guardian</i><br>
                                    Article<br>
                                    770 words (4 minutes)</p>
                            </aside>
                        </div>

                        <div class="lg:w-2/3">
                            <h2 class="text-xl lg:text-5xl leading-tight underline mb-2 lg:mb-4">
                                <a href="https://www.theguardian.com/commentisfree/2020/may/31/the-answer-to-police-violence-is-not-reform-its-defunding-heres-why">The answer to policing violence is not "reform". It's defunding. Here's why</a>
                            </h2>
                            <p class="lg:text-3xl leading-snug">&ldquo;&lsquo;procedural justice&rsquo;&#133;assumes that the police are neutrally enforcing a set of laws that are automatically beneficial to everyone. Instead of questioning the validity of using police to wage an inherently racist war on drugs, advocates of &lsquo;procedural justice&rsquo; politely suggest that police get anti-bias training, which they will happily deliver for no small fee.&rdquo;</p>
                        </div>
                    </li>
                    <li class="flex flex-col lg:flex-row mb-12 lg:mb-20">
                        <div class="lg:w-1/3">
                            <aside class="lg:w-3/4">
                                <p class="text-sm lg:text-xl leading-snug lg:text-right font-mono">
                                    <i>Workers Solidarity</i><br>
                                    Article<br>
                                    660 words (3 minutes)</p>
                            </aside>
                        </div>

                        <div class="lg:w-2/3">
                            <h2 class="text-xl lg:text-5xl leading-tight underline mb-2 lg:mb-4">
                                <a href="https://www.workerssolidarity.org.au/analysis_arepoliceworkers">Are the police workers like the rest of us?</a>
                            </h2>
                            <p class="lg:text-3xl leading-snug">“In a newly colonised country like Australia, the police served the additional purpose of protecting and supporting the expansion of the colony into the new lands of inland Australia. Again, it is clear that this role made the police the protectors, if not the enforcers, of the dispossession and the genocide against the Indigenous people.”</p>
                        </div>
                    </li>
                </ul>
            </section>

            <!-- <section id="submit-a-link">
                <h2 class="text-xl lg:text-5xl leading-tight">Submit a link</h2>
                <form action="" method="">
                    <ul class="lg:text-3xl leading-snug">
                        <li>
                            <label for="link">Link</label>
                            <input type="text" id="link">
                        </li>
                        <li>
                            <label for="summary">Summary</label>
                            <textarea name="user_summary" id="summary"></textarea>
                        </li>
                        <li>
                            <button type="submit">Submit</button>
                        </li>
                    </ul>
                </form>
            </section> -->
        </div>


    </body>
</html>
